.deps/
.kdev4/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cf4k.elf
cf64k.elf
compile
config.log
config.status
configure
configure~
depcomp
install-sh
missing
opencf
opencf.kdev4
src/.deps/
src/.dirstamp
src/Makefile
src/drivers/.*
src/drivers/*.o
src/*.o
